@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes transparency {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
    pointer-events: none;
    animation: transparency 1.5s forwards;
}

.loader {
    display: inline-block;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear 3;
}